# Ignore virtual environments
.venv/

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore IDE-specific files (e.g., for VSCode, PyCharm)
.vscode/
.idea/

# Ignore other common files
.DS_Store

# Ignore build and distribution directories
build/
dist/

# Ignore EdFoil build artifacts
EdFoil.spec

# Ignore tests
tests/

# Ignore Sphinx documentation build files
docs/_build/
docs/generated/