"PRIMARY":        "#44506e",
"PRIMARY_HOVER":  "#516084",
"PRIMARY_PRESS":  "#39455f",
"ACCENT1":        "#bd93f9",
"ACCENT2":        "#ff79c6",
"BACKGROUND":     "#2e3137",
"PANEL_BG":       "#3a3f46",
"PANEL_BORDER":   "#44506e",
"BORDER_LIGHT":   "#555b63",
"BORDER_MED":     "#6272a4",
"TEXT":           "#e6e6e6",
"TEXT_INV":       "#ffffff",
"SELECTION_BG":   "#6272a4",
"GRID_LINE":      "#55627e",
"SUCCESS":        "#3cbf3c",
"WARNING":        "#ffca5c",
"DANGER":         "#ff79c6"