"PRIMARY":        "#6272a4",
"PRIMARY_HOVER":  "#7082b6",
"PRIMARY_PRESS":  "#39455f",
"ACCENT1":        "#bd93f9",
"ACCENT2":        "#ff79c6",
"BACKGROUND":     "#f8f8f2",
"PANEL_BG":       "#ffffff",
"PANEL_BORDER":   "#e1e1e1",
"BORDER_LIGHT":   "#cccccc",
"BORDER_MED":     "#6272a4",
"TEXT":           "#333333",
"TEXT_INV":       "#ffffff",
"SELECTION_BG":   "#6272a4",
"GRID_LINE":      "#55627e",
"SUCCESS":        "#3cbf3c",
"WARNING":        "#ffca5c",
"DANGER":         "#ff79c6"