"PRIMARY":        "#375564",
"PRIMARY_HOVER":  "#42687A",
"PRIMARY_PRESS":  "#2B4350",
"ACCENT1":        "#5FE081",
"ACCENT2":        "#35B56A",
"BACKGROUND":     "#20262A",
"PANEL_BG":       "#2A3237",
"PANEL_BORDER":   "#3A454B",
"BORDER_LIGHT":   "#3F4B52",
"BORDER_MED":     "#5FE081",
"TEXT":           "#E6ECEF",
"TEXT_INV":       "#f8f8f2",
"SELECTION_BG":   "#375564",
"GRID_LINE":      "#3B474E",
"SUCCESS":        "#45C766",
"WARNING":        "#D29B3C",
"DANGER":         "#E06F6F"